.image-upload-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 106vh;
  
}

.box-decoration {
  border: 2px dashed rgba(167, 102, 219, 0.773);
  border-radius: 5px;
  padding: 130px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(227, 232, 233);
}

.image-upload-label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
  color: rgba(65, 11, 109, 0.773);
}

.image-upload-input {
  display: none;
}

.image-upload-button {
  background-color: rgb(91, 29, 145);
  border: none;
  color: rgb(255, 255, 255);
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.image-upload-button:hover {
  background-color: rgba(89, 30, 171, 0.773);
}

.img-display-before {
  height: 200px;
  width: 200px;
  margin-left: 35px;
}

.img-display-after {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}
.image-upload-button1 {
  background-color: rgb(58, 171, 27);
  border: none;
  color: rgb(255, 255, 255);
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.image-upload-button1:hover {
  background-color: rgba(33, 205, 30, 0.773);
}